@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  background: #000000;
  font-family: 'Kanit', sans-serif;
}

/* Flat white headings */
.hero-heading {
  color: #ffffff;
}
